services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    depends_on:
      - database
    env_file: .env
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: yarn start:dev
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
        - action: rebuild
          path: ./backend/package.json

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: yarn dev --host
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
        - action: rebuild
          path: ./frontend/package.json

  database:
    image: postgres:16
    container_name: database
    restart: always
    env_file: .env
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongodb:
    image: mongo:latest # Or a specific version like mongo:6
    container_name: my-mongodb
    ports:
      - "27017:27017" # Host_Port:Container_Port
    volumes:
      - mongodb_data:/data/db # Persist data in a named volume
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    restart: unless-stopped

volumes:
  pgdata:
  mongodb_data: